---
// Nilai default untuk props
const {
  text,
  variant = "outline-black",
  size = "normal",
  customClass = "",
  fullWidth = false,
  type = "button",
  onClick,
  disabled = false,
} = Astro.props;

// Mapping untuk variant
const variantClasses = {
  pink: "bg-pink text-white hover:bg-[#ff69b4] transition-all duration-200",
  "outline-black":
    "bg-white text-black border border-black hover:!bg-black hover:text-white transition-all duration-200",
};

// Mapping untuk size
const sizeClasses = {
  small: "py-2 px-3 text-14 md:py-2.5 md:px-4 lg:py-2.5 lg:px-5",
  normal: "py-2.5 px-4 text-16 md:py-3 md:px-5 lg:py-3.5 lg:px-5",
  large: "py-3 px-5 text-18 md:py-4 md:px-6 lg:py-4.5 lg:px-6",
};

// Menggabungkan semua class
const buttonClass = [
  "cursor-pointer rounded-full",
  sizeClasses[size as keyof typeof sizeClasses],
  variantClasses[variant as keyof typeof variantClasses],
  "font-semibold",
  fullWidth ? "w-full" : "",
  customClass,
]
  .filter(Boolean)
  .join(" ");
---

<button
  class={buttonClass}
  type={type}
  disabled={disabled}
  onclick={onClick ? `(${onClick.toString()})()` : undefined}
>
  {text}
  <slot />
</button>
