---
import CardProductHero from "../../CardProductHero.astro";



// Data for 5 wedding packages
const weddingPackages = [
  {
    isPopular: true,
    title: "Eternal Young Wedding at Bali Nusa Beach",
    price: "Rp 198,493,000",
    location: "Luxemborgio",
    vendor: "Tentram",
    mainImage: "/public/images/wedding-1.png"
  },
  {
    isPopular: false,
    title: "Traditional Javanese Wedding Package", 
    price: "Rp 125,000,000",
    location: "Yogyakarta",
    vendor: "Adat Nusantara",
    mainImage: "/public/images/wedding-2.png"
  },
  {
    isPopular: true,
    title: "Luxury Ballroom Hotel Wedding",
    price: "Rp 250,000,000",
    location: "Jakarta",
    vendor: "Luxury Wedding",
    mainImage: "/public/images/wedding-3.png"
  },
  {
    isPopular: false,
    title: "Intimate Wedding Garden Party",
    price: "Rp 85,000,000",
    location: "Bandung",
    vendor: "Simple Elegant",
    mainImage: "/public/images/wedding-1.png"
  },
  {
    isPopular: true,
    title: "Private Island Destination Wedding",
    price: "Rp 350,000,000",
    location: "Kepulauan Seribu",
    vendor: "Island Paradise",
    mainImage: "/public/images/wedding-5.png"
  }
];
---

<div class="">
<div class="swiper wedding-slider w-full">
    <div class="swiper-wrapper">
      {weddingPackages.map((pkg) => (
        <div class="swiper-slide">
          <div class="relative h-[480px] 2xl:h-[600px] rounded-2xl md:rounded-[30px] overflow-hidden transition-all duration-300">
            <img src={pkg.mainImage} alt="" class="w-full h-full object-cover">
            <CardProductHero
              isPopular={pkg.isPopular}
              title={pkg.title}
              price={pkg.price}
              location={pkg.location}
              vendor={pkg.vendor}
              customClass="absolute bottom-4 md:bottom-auto md:right-auto md:top-1/2 !w-[90%] left-1/2 -translate-x-1/2 md:translate-x-0 md:w-auto md:left-[10%] md:-translate-y-1/2"
            />
          </div>
        </div>
      ))}
    </div>
  </div>
</div>